body{
    margin: 0;
    padding: 0;
    user-select: none;
}

#b1{
    position: absolute;
    top: 40%;
    background-color: #1A4649;
    outline: none;
    border: 0;
    color: white;
    width: 10%;
    height: 8%;
    font-weight: bolder;
    border-radius: 4px;
    font-size: 2vmin;
    letter-spacing: 1px;
    cursor: pointer;
    left: 30px;
    top: 60%;
}
#b1:hover{
    background-color: #163739;
}
#b1:active{
    background-color: #153132;
}

#b2{
    position: absolute;
    top: 40%;
    background-color: white;
    outline: none;
    border: 2px solid #1A4649;
    color: #1A4649;
    width: 10%;
    height: 8%;
    font-weight: bolder;
    border-radius: 4px;
    font-size: 2vmin;
    letter-spacing: 1px;
    cursor: pointer;
    left: 13%;
    top: 60%;
}
#b2:hover{
    color: white;
    background-color: #1A4649;
}

#logo{
    width: 5%;
    position: absolute;
    left: 20px;
    top: 5px;
    cursor: pointer;
}
#logoText{
    font-family: "Arial Black", Gadget, sans-serif;
    position: absolute;
    font-weight: bolder;
    font-size: 3vmin;
    z-index: 2;
    color: #1A4649;
    left: 115px;
    top: 35px;
    cursor: pointer;
}

#title{
    font-family: "Arial Black", Gadget, sans-serif;
    position: absolute;
    font-weight: bolder;
    font-size: 7vmin;
    z-index: 2;
    color: black;
    left: 30px;
    top: 20%;
}
#title2{
    font-family: Tahoma, Geneva, sans-serif;
    position: absolute;
    font-size: 2.5vmin;
    z-index: 2;
    color: black;
    left: 30px;
    width: 50%;
    top: 52%;
    letter-spacing: 1px;
}

#m1{
    font-family: Tahoma, Geneva, sans-serif;
    position: absolute;
    font-size: 2vmin;
    z-index: 2;
    color: #000000;
    left: 20%;
    top: 45px;
    cursor: pointer;
}
#m2{
    font-family: Tahoma, Geneva, sans-serif;
    position: absolute;
    font-size: 2vmin;
    z-index: 2;
    color: #000000;
    left: 30%;
    top: 45px;
    cursor: pointer;
}

#m3{
    font-family: Tahoma, Geneva, sans-serif;
    position: absolute;
    font-size: 2vmin;
    z-index: 2;
    color: #000000;
    left: 40%;
    top: 45px;
    cursor: pointer;
}
#m4{
    font-family: Tahoma, Geneva, sans-serif;
    position: absolute;
    font-size: 2vmin;
    z-index: 2;
    color: #000000;
    left: 50%;
    top: 45px;
    cursor: pointer;
}
#m1:hover{
    text-decoration-line: underline;
    text-decoration-style: "solid";
    text-decoration-color: rgba(26,70,73,1);
    text-decoration-thickness: 5px;
}
#m2:hover{
    text-decoration-line: underline;
    text-decoration-style: "solid";
    text-decoration-color: rgba(26,70,73,1);
    text-decoration-thickness: 5px;
}
#m3:hover{
    text-decoration-line: underline;
    text-decoration-style: "solid";
    text-decoration-color: rgba(26,70,73,1);
    text-decoration-thickness: 5px;
}
#m4:hover{
    text-decoration-line: underline;
    text-decoration-style: "solid";
    text-decoration-color: rgba(26,70,73,1);
    text-decoration-thickness: 5px;
}

#bg{
    position: absolute;
    right: 0;
    height: 100%;
}

#arrow{
    font-family: Tahoma, Geneva, sans-serif;
    position: absolute;
    font-size: 4vmin;
    z-index: 2;
    color: #ffffff;
    bottom: 3%;
    left: 35%;
    width: 30%;
    text-align: center;
}

#bText{
    position: absolute;
    top: 120%;
}

#border{
    position: absolute;
    top: 250%;
    width: 1px;
    height: 1px;
}